In [1]:
# data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

# machine learning
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC, LinearSVC
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.linear_model import Perceptron
from sklearn.linear_model import SGDClassifier
from sklearn.tree import DecisionTreeClassifier

In [2]:
#data analysis and wrangling
import pandas as pd
import numpy as np
import random as rnd

In [3]:
# visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [4]:
people_df = pd.read_csv('./input/people.csv')
people_df

,people_id,char_1,group_1,char_2,date,char_3,char_4,char_5,char_6,char_7,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,ppl_100,type 2,group 17304,type 2,2021-06-29,type 5,type 5,type 5,type 3,type 11,...,False,True,True,False,False,True,True,True,False,36
1,ppl_100002,type 2,group 8688,type 3,2021-01-06,type 28,type 9,type 5,type 3,type 11,...,False,True,True,True,True,True,True,True,False,76
2,ppl_100003,type 2,group 33592,type 3,2022-06-10,type 4,type 8,type 5,type 2,type 5,...,False,False,True,True,True,True,False,True,True,99
3,ppl_100004,type 2,group 22593,type 3,2022-07-20,type 40,type 25,type 9,type 4,type 16,...,True,True,True,True,True,True,True,True,True,76
4,ppl_100006,type 2,group 6534,type 3,2022-07-27,type 40,type 25,type 9,type 3,type 8,...,False,False,True,False,False,False,True,True,False,84
5,ppl_10001,type 2,group 25417,type 3,2022-10-14,type 6,type 6,type 4,type 1,type 1,...,False,True,True,True,True,True,True,True,True,90
6,ppl_100010,type 2,group 17304,type 2,2022-09-01,type 8,type 7,type 8,type 1,type 7,...,False,False,False,False,False,False,False,False,False,2
7,ppl_100013,type 2,group 4204,type 3,2023-01-24,type 4,type 8,type 4,type 1,type 7,...,False,False,True,True,True,True,False,True,True,91
8,ppl_100019,type 2,group 45749,type 3,2023-03-26,type 40,type 25,type 9,type 3,type 9,...,False,False,False,False,False,False,False,False,False,84
9,ppl_100025,type 2,group 36096,type 3,2022-08-26,type 14,type 6,type 8,type 3,type 9,...,False,False,False,False,False,False,False,False,False,76
10,ppl_100028,type 2,group 17304,type 2,2023-04-21,type 40,type 25,type 9,type 4,type 20,...,False,False,False,False,False,False,False,False,False,0
11,ppl_100029,type 2,group 17304,type 2,2023-07-15,type 4,type 6,type 4,type 1,type 2,...,False,False,False,False,False,False,False,False,False,0
12,ppl_100032,type 2,group 18035,type 3,2022-07-26,type 7,type 6,type 7,type 4,type 17,...,False,False,False,False,False,False,False,False,False,60
13,ppl_100033,type 2,group 17304,type 2,2022-07-26,type 10,type 7,type 6,type 3,type 9,...,False,False,False,False,False,False,False,False,False,0
14,ppl_100035,type 2,group 9439,type 3,2022-01-22,type 4,type 10,type 4,type 1,type 23,...,False,False,False,False,False,False,False,False,True,100
15,ppl_100040,type 2,group 19662,type 3,2022-08-11,type 5,type 5,type 5,type 1,type 23,...,True,True,True,False,True,True,False,True,False,68
16,ppl_100042,type 2,group 7636,type 3,2022-12-16,type 40,type 25,type 9,type 6,type 9,...,False,False,False,False,False,False,False,False,False,67
17,ppl_100043,type 2,group 39166,type 3,2023-08-22,type 6,type 6,type 4,type 1,type 1,...,False,False,True,False,False,True,False,True,True,79
18,ppl_100045,type 2,group 17304,type 2,2022-09-21,type 40,type 25,type 9,type 2,type 6,...,False,False,False,False,False,False,False,False,False,7
19,ppl_100047,type 2,group 17304,type 2,2022-11-14,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
20,ppl_100048,type 1,group 2103,type 1,2021-12-25,type 1,type 1,type 1,type 3,type 8,...,False,False,False,True,False,True,False,True,True,96
21,ppl_100049,type 2,group 9405,type 3,2022-02-04,type 4,type 12,type 4,type 3,type 11,...,False,False,False,False,False,False,False,False,False,70
22,ppl_10005,type 2,group 17304,type 2,2023-03-25,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,True,False,False,False,42
23,ppl_100050,type 2,group 7256,type 3,2023-01-28,type 40,type 25,type 9,type 1,type 3,...,True,True,True,True,True,True,True,True,True,100
24,ppl_100051,type 1,group 10874,type 1,2022-08-27,type 1,type 1,type 1,type 5,type 18,...,False,False,False,False,False,False,False,False,False,76
25,ppl_100052,type 2,group 17304,type 2,2020-05-28,type 4,type 2,type 4,type 2,type 6,...,True,True,True,True,True,True,True,True,True,39
26,ppl_100058,type 2,group 42007,type 3,2022-12-28,type 10,type 6,type 6,type 1,type 1,...,False,False,False,True,False,False,False,False,False,78
27,ppl_10006,type 2,group 627,type 3,2022-11-17,type 40,type 25,type 9,type 3,type 11,...,False,False,False,False,False,False,False,False,False,73
28,ppl_100060,type 2,group 17304,type 2,2023-08-31,type 11,type 2,type 2,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
29,ppl_100062,type 1,group 49,type 1,2022-03-09,type 1,type 1,type 1,type 1,type 10,...,False,False,False,True,False,True,False,False,False,88
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
189088,ppl_99935,type 2,group 17304,type 2,2022-08-30,type 4,type 6,type 4,type 1,type 4,...,False,False,False,False,False,False,False,False,False,0
189089,ppl_99936,type 2,group 23542,type 3,2023-05-05,type 6,type 2,type 8,type 3,type 8,...,True,True,True,True,True,True,True,True,True,95
189090,ppl_99937,type 2,group 41,type 3,2021-10-27,type 40,type 25,type 9,type 1,type 1,...,False,False,False,True,False,True,True,True,True,89
189091,ppl_99939,type 2,group 17304,type 2,2022-12-22,type 4,type 6,type 4,type 5,type 21,...,False,False,False,False,False,False,False,False,False,0
189092,ppl_99944,type 2,group 386,type 3,2023-07-26,type 40,type 25,type 9,type 3,type 11,...,True,True,True,True,True,False,False,True,True,92
189093,ppl_99946,type 2,group 17304,type 2,2023-02-10,type 4,type 6,type 4,type 1,type 14,...,False,False,False,False,False,False,False,False,False,0
189094,ppl_99947,type 2,group 27631,type 3,2022-09-08,type 19,type 6,type 5,type 4,type 17,...,False,False,False,False,False,False,False,False,False,85
189095,ppl_99950,type 2,group 1490,type 3,2023-06-23,type 40,type 25,type 9,type 4,type 20,...,True,True,True,True,True,True,True,True,True,98
189096,ppl_99955,type 2,group 11055,type 3,2023-05-31,type 6,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189097,ppl_99956,type 2,group 20306,type 3,2023-05-31,type 4,type 8,type 5,type 5,type 15,...,False,False,False,False,False,False,False,False,False,90
189098,ppl_99959,type 2,group 7767,type 3,2023-06-20,type 4,type 6,type 4,type 3,type 8,...,False,True,True,True,True,True,False,True,True,51
189099,ppl_9996,type 2,group 17304,type 2,2022-10-21,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189100,ppl_99961,type 2,group 17304,type 2,2020-07-10,type 40,type 25,type 9,type 4,type 13,...,False,False,False,False,False,False,False,False,False,0
189101,ppl_99963,type 2,group 667,type 3,2023-06-25,type 40,type 25,type 9,type 1,type 2,...,False,False,False,True,False,True,False,True,True,98
189102,ppl_99964,type 2,group 8386,type 3,2023-06-29,type 4,type 4,type 4,type 1,type 23,...,False,False,True,True,False,True,False,True,True,90
189103,ppl_99966,type 2,group 28835,type 3,2022-03-24,type 7,type 6,type 7,type 3,type 11,...,False,False,False,False,False,False,False,False,False,61
189104,ppl_99967,type 2,group 28832,type 3,2023-03-26,type 4,type 10,type 4,type 3,type 9,...,False,False,False,False,False,False,False,False,False,55
189105,ppl_9997,type 2,group 17304,type 2,2022-04-27,type 4,type 5,type 5,type 4,type 13,...,False,False,False,False,False,False,False,False,False,5
189106,ppl_99973,type 2,group 18907,type 3,2020-07-21,type 8,type 6,type 8,type 1,type 1,...,False,False,False,True,False,True,False,True,False,50
189107,ppl_99975,type 2,group 11303,type 3,2023-06-28,type 40,type 25,type 9,type 1,type 23,...,True,True,True,True,True,True,True,True,True,95
189108,ppl_99977,type 2,group 8279,type 3,2023-01-04,type 12,type 2,type 8,type 2,type 6,...,False,False,False,False,False,True,False,False,False,83
189109,ppl_99978,type 2,group 2632,type 3,2023-03-16,type 6,type 15,type 4,type 1,type 3,...,False,False,False,False,False,True,False,True,True,94
189110,ppl_9998,type 2,group 17304,type 2,2022-03-02,type 27,type 6,type 7,type 2,type 6,...,False,False,False,True,False,False,False,True,True,45
189111,ppl_99981,type 2,group 17304,type 2,2023-01-26,type 5,type 5,type 5,type 2,type 5,...,False,False,False,True,False,True,False,True,True,3
189112,ppl_99986,type 2,group 17304,type 2,2021-03-27,type 4,type 6,type 4,type 3,type 8,...,False,False,False,False,False,False,False,False,False,0
189113,ppl_99987,type 1,group 8600,type 1,2022-04-02,type 4,type 6,type 4,type 3,type 11,...,False,False,False,True,False,True,False,True,True,89
189114,ppl_9999,type 2,group 17304,type 2,2023-02-23,type 6,type 2,type 8,type 3,type 11,...,False,False,False,False,False,False,False,False,False,0
189115,ppl_99992,type 2,group 17304,type 2,2020-06-25,type 5,type 5,type 3,type 4,type 16,...,False,False,False,False,False,False,False,False,False,0
189116,ppl_99994,type 2,group 17764,type 3,2023-01-06,type 2,type 7,type 2,type 1,type 2,...,True,True,True,True,False,True,True,True,True,95
189117,ppl_99997,type 2,group 17304,type 2,2022-03-12,type 40,type 25,type 9,type 3,type 8,...,False,False,False,False,False,False,False,False,False,36

In [5]:
act_test_df = pd.read_csv('./input/act_test.csv')
act_test_df

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100004,act1_249281,2022-07-20,type 1,type 5,type 10,type 5,type 1,type 6,type 1,type 1,type 7,type 4,NaN
1,ppl_100004,act2_230855,2022-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 682
2,ppl_10001,act1_240724,2022-10-14,type 1,type 12,type 1,type 5,type 4,type 6,type 1,type 1,type 13,type 10,NaN
3,ppl_10001,act1_83552,2022-11-27,type 1,type 20,type 10,type 5,type 4,type 6,type 1,type 1,type 5,type 5,NaN
4,ppl_10001,act2_1043301,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
5,ppl_10001,act2_112890,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 4987
6,ppl_10001,act2_1169930,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
7,ppl_10001,act2_1924448,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
8,ppl_10001,act2_1953554,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
9,ppl_10001,act2_1971739,2022-11-28,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
10,ppl_10001,act2_2839282,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
11,ppl_10001,act2_2889351,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
12,ppl_10001,act2_3238933,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
13,ppl_10001,act2_3384798,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
14,ppl_10001,act2_3701358,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
15,ppl_10001,act2_3715695,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
16,ppl_10001,act2_3734085,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
17,ppl_10001,act2_3961391,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
18,ppl_10001,act2_4167474,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
19,ppl_10001,act2_4397847,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
20,ppl_10001,act2_4649285,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
21,ppl_10001,act2_538607,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
22,ppl_10001,act2_584216,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
23,ppl_10001,act2_596561,2022-10-15,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
24,ppl_10001,act2_649143,2022-11-27,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
25,ppl_10001,act2_659237,2022-10-16,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
26,ppl_10001,act2_688604,2022-11-28,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3015
27,ppl_100010,act1_218751,2022-09-01,type 1,type 2,type 1,type 9,type 3,type 1,type 3,type 2,type 2,type 1,NaN
28,ppl_100010,act1_383524,2022-09-01,type 1,type 2,type 1,type 5,type 3,type 1,type 3,type 1,type 2,type 1,NaN
29,ppl_100010,act2_3973689,2022-09-01,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 52
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
498657,ppl_99963,act2_3146168,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498658,ppl_99963,act2_3435600,2023-07-01,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 400
498659,ppl_99963,act2_3648161,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498660,ppl_99963,act2_4609368,2023-06-30,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 400
498661,ppl_99963,act2_488594,2023-07-20,type 5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 465
498662,ppl_99963,act2_568974,2023-06-25,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 2
498663,ppl_99975,act1_187412,2023-06-28,type 1,type 1,type 6,type 2,type 2,type 1,type 1,type 1,type 2,type 1,NaN
498664,ppl_99975,act2_1907199,2023-06-29,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 3
498665,ppl_99975,act2_3825329,2023-06-29,type 7,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 194
498666,ppl_99975,act2_4540493,2023-06-29,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498667,ppl_99975,act2_4716058,2023-06-29,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 390
498668,ppl_99986,act2_1374659,2022-09-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498669,ppl_99986,act2_4191036,2022-09-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 437
498670,ppl_99997,act2_1893941,2022-10-18,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498671,ppl_99997,act2_2245699,2023-08-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498672,ppl_99997,act2_2316472,2023-06-08,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498673,ppl_99997,act2_2372813,2023-04-22,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498674,ppl_99997,act2_2433185,2022-09-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498675,ppl_99997,act2_2576346,2022-11-29,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498676,ppl_99997,act2_2718841,2022-11-25,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498677,ppl_99997,act2_2902742,2022-09-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498678,ppl_99997,act2_3448131,2023-06-08,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498679,ppl_99997,act2_3757705,2022-08-09,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498680,ppl_99997,act2_4149173,2022-11-05,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498681,ppl_99997,act2_4355610,2023-06-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498682,ppl_99997,act2_4367092,2023-04-22,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498683,ppl_99997,act2_4404220,2022-11-12,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498684,ppl_99997,act2_448830,2022-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498685,ppl_99997,act2_450133,2022-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1
498686,ppl_99997,act2_847967,2022-10-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1

In [6]:
act_train_df = pd.read_csv('./input/act_train.csv')
act_train_df

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
5,ppl_100,act2_898576,2023-08-04,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1727,0
6,ppl_100002,act2_1233489,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
7,ppl_100002,act2_1623405,2022-11-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
8,ppl_100003,act2_1111598,2023-02-07,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
9,ppl_100003,act2_1177453,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
10,ppl_100003,act2_133509,2022-08-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 894,1
11,ppl_100003,act2_1408475,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
12,ppl_100003,act2_1610829,2022-09-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
13,ppl_100003,act2_1688731,2023-02-10,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 297,1
14,ppl_100003,act2_1961720,2023-06-28,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 269,1
15,ppl_100003,act2_1988351,2022-08-23,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
16,ppl_100003,act2_2198176,2022-08-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
17,ppl_100003,act2_2437661,2023-02-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
18,ppl_100003,act2_2476911,2023-03-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
19,ppl_100003,act2_2557270,2022-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 230,1
20,ppl_100003,act2_2581989,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
21,ppl_100003,act2_3116385,2023-02-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
22,ppl_100003,act2_3159712,2022-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
23,ppl_100003,act2_3292005,2023-05-03,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
24,ppl_100003,act2_3461867,2023-08-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
25,ppl_100003,act2_3468306,2023-03-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 143,1
26,ppl_100003,act2_3867292,2023-02-10,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
27,ppl_100003,act2_3990676,2023-08-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 276,1
28,ppl_100003,act2_4102292,2023-08-30,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
29,ppl_100003,act2_4160587,2023-02-21,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2197261,ppl_99994,act2_2053669,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197262,ppl_99994,act2_2053762,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197263,ppl_99994,act2_2134893,2023-08-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1396,1
2197264,ppl_99994,act2_2139237,2023-06-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197265,ppl_99994,act2_2233766,2023-06-28,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197266,ppl_99994,act2_2499779,2023-02-19,type 3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 61,1
2197267,ppl_99994,act2_2514377,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197268,ppl_99994,act2_2537795,2023-01-12,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197269,ppl_99994,act2_2582736,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197270,ppl_99994,act2_2674371,2023-06-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197271,ppl_99994,act2_2808953,2023-05-02,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197272,ppl_99994,act2_2840212,2023-08-25,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,1
2197273,ppl_99994,act2_2992386,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197274,ppl_99994,act2_3177773,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 201,1
2197275,ppl_99994,act2_3284072,2023-07-14,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197276,ppl_99994,act2_3373847,2023-02-16,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197277,ppl_99994,act2_3534467,2023-08-17,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197278,ppl_99994,act2_3903321,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197279,ppl_99994,act2_4024188,2023-01-12,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 520,1
2197280,ppl_99994,act2_4355021,2023-02-23,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 602,1
2197281,ppl_99994,act2_4433480,2023-01-24,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197282,ppl_99994,act2_4440524,2023-08-17,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 759,1
2197283,ppl_99994,act2_4473896,2023-06-15,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197284,ppl_99994,act2_4479985,2023-07-14,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 142,1
2197285,ppl_99994,act2_4581579,2023-01-13,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197286,ppl_99994,act2_4668076,2023-06-16,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 418,1
2197287,ppl_99994,act2_4743548,2023-03-30,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1832,1
2197288,ppl_99994,act2_536973,2023-01-19,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1
2197289,ppl_99994,act2_688656,2023-05-02,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 199,1
2197290,ppl_99994,act2_715089,2023-06-15,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,1

In [49]:
ss_df = pd.read_csv('./input/sample_submission.csv')
ss_df

        activity_id  outcome
0            act1_1        0
1       act1_100006        0
2       act1_100050        0
3       act1_100065        0
4       act1_100068        0
5       act1_100100        0
6       act1_100109        0
7        act1_10012        0
8       act1_100135        0
9       act1_100166        0
10      act1_100171        0
11      act1_100173        0
12      act1_100181        0
13      act1_100187        0
14       act1_10021        0
15      act1_100211        0
16      act1_100223        0
17      act1_100236        0
18      act1_100240        0
19      act1_100244        0
20      act1_100247        0
21      act1_100267        0
22      act1_100276        0
23      act1_100302        0
24      act1_100307        0
25      act1_100308        0
26      act1_100315        0
27      act1_100326        0
28       act1_10033        0
29      act1_100331        0
...             ...      ...
498657  act2_999721        0
498658  act2_999733        0
498659  act2_999736        0
498660   act2_99974        0
498661  act2_999742        0
498662  act2_999745        0
498663  act2_999751        0
498664  act2_999777        0
498665  act2_999784        0
498666   act2_99979        0
498667  act2_999799        0
498668  act2_999806        0
498669  act2_999819        0
498670  act2_999820        0
498671  act2_999846        0
498672  act2_999847        0
498673  act2_999850        0
498674  act2_999859        0
498675  act2_999879        0
498676  act2_999941        0
498677   act2_99995        0
498678  act2_999953        0
498679  act2_999955        0
498680  act2_999976        0
498681  act2_999977        0
498682  act2_999980        0
498683  act2_999982        0
498684  act2_999993        0
498685  act2_999995        0
498686   act2_9e+05        0

[498687 rows x 2 columns]

In [50]:
print(act_train_df.columns.values)

['people_id' 'activity_id' 'date' 'activity_category' 'char_1' 'char_2'
 'char_3' 'char_4' 'char_5' 'char_6' 'char_7' 'char_8' 'char_9' 'char_10'
 'outcome']

In [51]:
act_train_df.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10,outcome
0,ppl_100,act2_1734928,2023-08-26,type 4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 76,0
1,ppl_100,act2_2434093,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
2,ppl_100,act2_3404049,2022-09-27,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
3,ppl_100,act2_3651215,2023-08-04,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0
4,ppl_100,act2_4109017,2023-08-26,type 2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,type 1,0

In [52]:
act_train_df.info()
print('_'*40)
act_test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2197291 entries, 0 to 2197290
Data columns (total 15 columns):
people_id            object
activity_id          object
date                 object
activity_category    object
char_1               object
char_2               object
char_3               object
char_4               object
char_5               object
char_6               object
char_7               object
char_8               object
char_9               object
char_10              object
outcome              int64
dtypes: int64(1), object(14)
memory usage: 251.5+ MB
________________________________________
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 498687 entries, 0 to 498686
Data columns (total 14 columns):
people_id            498687 non-null object
activity_id          498687 non-null object
date                 498687 non-null object
activity_category    498687 non-null object
char_1               40092 non-null object
char_2               40092 non-null object
char_3               40092 non-null object
char_4               40092 non-null object
char_5               40092 non-null object
char_6               40092 non-null object
char_7               40092 non-null object
char_8               40092 non-null object
char_9               40092 non-null object
char_10              458595 non-null object
dtypes: object(14)
memory usage: 53.3+ MB

In [78]:
act_train_df.head()
X = act_train_df.drop('outcome', axis=1)
train_y = act_train_df.outcome

In [79]:
train_X = X.fillna(0)

In [80]:
train_X.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,char_7,char_8,char_9,char_10
0,ppl_100,act2_1734928,2023-08-26,type 4,0,0,0,0,0,0,0,0,0,type 76
1,ppl_100,act2_2434093,2022-09-27,type 2,0,0,0,0,0,0,0,0,0,type 1
2,ppl_100,act2_3404049,2022-09-27,type 2,0,0,0,0,0,0,0,0,0,type 1
3,ppl_100,act2_3651215,2023-08-04,type 2,0,0,0,0,0,0,0,0,0,type 1
4,ppl_100,act2_4109017,2023-08-26,type 2,0,0,0,0,0,0,0,0,0,type 1

In [81]:
## people .csv と結合する必要あり

In [82]:
# pd.get_dummies(train_X['people_id'])

In [83]:
# from sklearn.preprocessing import OneHotEncoder

# enc = OneHotEncoder(categories="auto", sparse=False, dtype=np.float32)
# onehot_X = enc.fit_transform(train_X)

In [84]:
train_merge_X =  pd.merge(train_X, people_df,how="inner", on='people_id',  suffixes=('', '_people'))

In [85]:
train_merge_X =  train_merge_X.fillna(0)

In [86]:
# train_merge_X['people_id'].value_counts()

In [87]:
encoded =  pd.factorize(train_merge_X['people_id'])
train_merge_X['people_id'] = encoded[0]

In [88]:
encoded =  pd.factorize(train_merge_X['activity_id'])
train_merge_X['activity_id'] = encoded[0]

In [89]:
encoded =  pd.factorize(train_merge_X['activity_category'])
train_merge_X['activity_category'] = encoded[0]

In [96]:
train_merge_X['char_10'][20]

1

In [105]:
for key in ['char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7',
       'char_8', 'char_9', 'char_10', 'char_1_people', 'group_1',
       'char_2_people', 'date_people', 'char_3_people', 'char_4_people',
       'char_5_people', 'char_6_people', 'char_7_people', 'char_8_people',
       'char_9_people', 'char_10_people', 'char_11', 'char_12', 'char_13',
       'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19',
       'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25',
       'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31',
       'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37',
       'char_38']:
    if type(train_merge_X[key][0]) is str:
        encoded =  pd.factorize(train_merge_X[key])
        train_merge_X[key] = encoded[0]

In [91]:
train_merge_X['date'] = pd.to_datetime(train_merge_X['date']).dt.tz_localize('Asia/Tokyo')

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,0,0,2023-08-26 00:00:00+09:00,0,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
1,0,1,2022-09-27 00:00:00+09:00,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
2,0,2,2022-09-27 00:00:00+09:00,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
3,0,3,2023-08-04 00:00:00+09:00,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
4,0,4,2023-08-26 00:00:00+09:00,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36

In [102]:
train_merge_X['date'] = train_merge_X['date'].astype('int64')
train_merge_X.head()

,people_id,activity_id,date,activity_category,char_1,char_2,char_3,char_4,char_5,char_6,...,char_29,char_30,char_31,char_32,char_33,char_34,char_35,char_36,char_37,char_38
0,0,0,1692975600000000000,0,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
1,0,1,1664204400000000000,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
2,0,2,1664204400000000000,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
3,0,3,1691074800000000000,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36
4,0,4,1692975600000000000,1,0,0,0,0,0,0,...,False,True,True,False,False,True,True,True,False,36

In [113]:
train_drop_X = train_merge_X.drop(['char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_1_people', 'group_1', 'char_2_people', 'date_people', 'char_3_people', 'char_4_people', 'char_5_people', 'char_6_people', 'char_7_people', 'char_8_people', 'char_9_people', 'char_10_people', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37', 'char_38']
                   ,                   axis=1)

In [116]:
test_x = act_test_df.fillna(0)
test_x =  pd.merge(test_x, people_df,how="inner", on='people_id',  suffixes=('', '_people'))

In [117]:
encoded =  pd.factorize(test_x['people_id'])
test_x['people_id'] = encoded[0]
encoded =  pd.factorize(test_x['activity_id'])
test_x['activity_id'] = encoded[0]
encoded =  pd.factorize(test_x['activity_category'])
test_x['activity_category'] = encoded[0]

In [118]:
for key in ['char_1',
       'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7',
       'char_8', 'char_9', 'char_10', 'char_1_people', 'group_1',
       'char_2_people', 'date_people', 'char_3_people', 'char_4_people',
       'char_5_people', 'char_6_people', 'char_7_people', 'char_8_people',
       'char_9_people', 'char_10_people', 'char_11', 'char_12', 'char_13',
       'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19',
       'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25',
       'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31',
       'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37',
       'char_38']:
    if type(test_x[key][0]) is str:
        encoded =  pd.factorize(test_x[key])
        test_x[key] = encoded[0]

In [119]:
test_x['date'] = pd.to_datetime(test_x['date']).dt.tz_localize('Asia/Tokyo')
test_x['date'] = test_x['date'].astype('int64')

In [120]:
test_x = test_x.drop(['char_1', 'char_2', 'char_3', 'char_4', 'char_5', 'char_6', 'char_7', 'char_8', 'char_9', 'char_10', 'char_1_people', 'group_1', 'char_2_people', 'date_people', 'char_3_people', 'char_4_people', 'char_5_people', 'char_6_people', 'char_7_people', 'char_8_people', 'char_9_people', 'char_10_people', 'char_11', 'char_12', 'char_13', 'char_14', 'char_15', 'char_16', 'char_17', 'char_18', 'char_19', 'char_20', 'char_21', 'char_22', 'char_23', 'char_24', 'char_25', 'char_26', 'char_27', 'char_28', 'char_29', 'char_30', 'char_31', 'char_32', 'char_33', 'char_34', 'char_35', 'char_36', 'char_37', 'char_38']
                   ,                   axis=1)

In [121]:
test_x.head()

   people_id  activity_id                 date  activity_category
0          0            0  1658242800000000000                  0
1          0            1  1658242800000000000                  1
2          1            2  1665673200000000000                  0
3          1            3  1669474800000000000                  0
4          1            4  1665759600000000000                  1

In [123]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(random_state=0)
clf = clf.fit(train_drop_X, train_y)

/anaconda2/envs/py37/lib/python3.7/site-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

In [125]:
pred = clf.predict(test_x)
pred
# fpr, tpr, thresholds = roc_curve(test_y, pred, pos_label=1)
# auc(fpr, tpr)
# accuracy_score(pred, test_y)

array([0, 0, 1, ..., 0, 0, 0])

In [ ]:
# PassengerIdを取得
PassengerId = np.array(test["PassengerId"]).astype(int)
 
# my_prediction(予測データ）とPassengerIdをデータフレームへ落とし込む
my_solution = pd.DataFrame(my_prediction, PassengerId, columns = ["Survived"])
 
# my_tree_one.csvとして書き出し
my_solution.to_csv("my_tree_one.csv", index_label = ["PassengerId"])

In [133]:
pred

array([0, 0, 1, ..., 0, 0, 0])

In [144]:
# activity_id	outcome

# my_solution = pd.DataFrame(act_test_df["activity_id"], pred, columns = ["activity_id", "outcome"])
my_solution = act_test_df.drop(
    ['people_id', 'date','activity_category','char_1','char_2', 'char_3','char_4','char_5','char_6','char_7','char_8','char_9','char_10'
 ],
    axis=1
)

In [145]:
my_solution.head()

    activity_id
0   act1_249281
1   act2_230855
2   act1_240724
3    act1_83552
4  act2_1043301

In [146]:
my_solution["outcome"] = pred

In [147]:
my_solution

         activity_id  outcome
0        act1_249281        0
1        act2_230855        0
2        act1_240724        1
3         act1_83552        0
4       act2_1043301        1
5        act2_112890        1
6       act2_1169930        1
7       act2_1924448        1
8       act2_1953554        1
9       act2_1971739        1
10      act2_2839282        1
11      act2_2889351        1
12      act2_3238933        1
13      act2_3384798        1
14      act2_3701358        1
15      act2_3715695        1
16      act2_3734085        1
17      act2_3961391        1
18      act2_4167474        1
19      act2_4397847        1
20      act2_4649285        1
21       act2_538607        1
22       act2_584216        1
23       act2_596561        1
24       act2_649143        1
25       act2_659237        1
26       act2_688604        1
27       act1_218751        1
28       act1_383524        1
29      act2_3973689        1
...              ...      ...
498657  act2_3146168        1
498658  act2_3435600        0
498659  act2_3648161        1
498660  act2_4609368        0
498661   act2_488594        1
498662   act2_568974        1
498663   act1_187412        1
498664  act2_1907199        0
498665  act2_3825329        0
498666  act2_4540493        1
498667  act2_4716058        0
498668  act2_1374659        0
498669  act2_4191036        0
498670  act2_1893941        0
498671  act2_2245699        0
498672  act2_2316472        0
498673  act2_2372813        0
498674  act2_2433185        0
498675  act2_2576346        0
498676  act2_2718841        0
498677  act2_2902742        0
498678  act2_3448131        0
498679  act2_3757705        0
498680  act2_4149173        1
498681  act2_4355610        0
498682  act2_4367092        0
498683  act2_4404220        0
498684   act2_448830        0
498685   act2_450133        0
498686   act2_847967        0

[498687 rows x 2 columns]

In [148]:
my_solution.to_csv("my_tree_one.csv")

In [9]:
import lightgbm as lgb
# Scikit-learn（評価算出）
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

ModuleNotFoundError: No module named 'lightgbm'